/* Colors

Left Blue: #1561ad
Right Blue- Muted: #1c77ac
Blue-Green: #1dbab4
Red-Orange: #fc5226
*/


/* GENERAL CSS */

body {
	font-family: 'Lato', sans-serif;
}

h1, h2, h5 {
	font-family: 'Montserrat', sans-serif;
}

/* ============================================ */



/* NAV AND CAROUSEL */
.container {
	position: relative;
	background-color: transparent;
	min-width: 100%;
	margin: 0;
	padding: 0;
}

.zapopan {
	color: #fc5226

}

.p-zapo {
	display: inline;
	font-weight: 900;
	margin-bottom: 0;
}

header {
	width: 100%;
	max-width: 100%;
	position: fixed;
	z-index: 999;
	background: transparent;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.wraper {
	margin: 0 auto;
	width: 90%;
}

nav {
	margin-top: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#btn-top1, #btn-top2, #btn-top3  {
	width: 10em ;
	height: 3em;
	padding: 15px 0;
}

nav a {
	display: inline-block;
	margin-left: 2rem;
	font-size: 15pt;
	text-decoration: none;
}

.navbar-toggler {
	border-color: #fff !important;
}

.nav-link {
	color: #fff !important;
}

.navbar-brand {
	font-size: 18pt;
}

.nav-link:hover {
	color: #1dbab4 !important;
}

.bg-light {
	background-color: transparent !important;
}

.carousel-item   {
	height: 45rem;
	background-color: #1c77ac;
}

.carousel-item img   {
	width: auto;
	height: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	opacity: .3;
}

.carousel-caption {
	bottom: 10rem;
	font-size: 30pt;
	color: #fff;
}

.carousel-indicators>li {
	background-color: #fff;
	opacity: 1;
	border: groove transparent;
	border-radius: 15px;
	height: 5px;
}

.carousel-indicators .active {
	background-color: #fc5226;
	opacity: 1;
}

h5 {
	font-size: 40pt;
}

/* ============================================ */




/* FORM 1 */


.form-h {
	margin-top: 50px;
}

#contact-form {
	padding-right: 5em;
	padding-left: 5em;
}

label {
	color: #1c77ac;
	font-weight: 500;
}

/* ============================================ */




/* INFO */
.description {
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #1c77ac;
}

.des-img1, .des-img2, .des-img3, .des-img4 {
	width: 50%;
	padding: 0;
	margin: 0;
}

.img1-des, .img2-des, .img3-des, .img4-des {
	height: auto;
	width: 100%;
	margin: 0;
	padding: 0;
}

.des-txt1, .des-txt2, .des-txt3, .des-txt4 {
	width: 50%;
}

.container2 {
	display: flex;
}

h2 {
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 1.5rem;
	font-size: 24pt;
	color: #feffff;
}

.li-des {
	font-size: 15pt;
	margin-top: 1rem;
	color: #fff;
	display: inline-flex;
}

.ul-des {
	list-style-type: none;
	padding-right: 3em;
	padding-left: 3em;
}

.locations-list {
	font-size: 15pt;
	margin-top: 1rem;
	color: #fff;
}

.li-des:before {
	content: "\f058";
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 1rem;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
}

.locations-list:before {
	content: "\f058";
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 1rem;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
}

h1 {
	color: #1561ad;
	margin-bottom: 75px;
	text-align: center;
	position: relative;
}

.section-header:after {
	content:' ';
	position: absolute;
	top:120%;
	left:50%;
	width: 220px;
	border:2px solid #fc5226;
	border-radius:4px;
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
	transform:translateX(-50%);
}

.section-header {
	font-size: 30pt;
}

.container3 {
	min-width: 100%;
	margin-top: 25px;
}

a.anchor {
	display: block;
	position: relative;
	top: -90px;
	visibility: hidden;
}

a.anchor1 {
	display: block;
	position: relative;
	top: -70px;
	visibility: hidden;
}

/* ============================================ */




/* CONTACT */

#form-h2 {
	font-size: 15pt;
	margin-bottom: 20px;
	text-align: center;
	color: #1561ad;
}

.contact-main {
	padding: 0;
	margin: 0 auto;
}

.form-bottom {
	margin-top: .5rem;
	margin-left: 3em;
	margin-right: 1em;
}

.btn-success.disabled, .btn-success:disabled {
	display: block;
	margin: 20px auto;
	background-color: #1dbab4;
	border-color: #1dbab4;
	width: 250px;
	height: 80px;
	font-size: 15pt;
	cursor: default;
	box-shadow: 0px 34px 10px -26px rgba(0,0,0,0.65);
}

.btn:not(:disabled):not(.disabled){
	display: block;
	margin: 20px auto;
	background-color: #1dbab4;
	border-color: #1dbab4;
	width: 250px;
	height: 80px;
	font-size: 15pt;
	cursor: pointer;
	color: #fff;
	box-shadow: 0px 34px 10px -26px rgba(0,0,0,0.65);
}

.help-block.with-errors {
	color: red;
}

.vertical-line{
	display: inline-block;
	border-left: 1px solid #ccc;
	margin: 0 5px;
	height: 225px;
}

.contact-wraper {
	margin-left: 15px;
}

.contact-p-icon {
	margin-bottom: 2px;
	font-size: 20pt;
	color: #1dbab4;
}

.contact-p {
	font-weight: 400;
	font-size: 12pt;
}

.contact-sm {
	font-size: 2em;
	margin-top: 50px;
}

.fa-instagram {
	color: #e95950;
	margin-left: 20px;
	margin-right: 20px;
}

.fa-facebook-square {
	color: #4267B2;
}

.fa-twitter-square {
	color: #1DA1F2;
}

#contact-form2:after {
	content:' ';
	position: absolute;
	top:100%;
	left:50%;
	width: 220px;
	border:1px solid #ced4da;
	border-radius:1px;
	transform:translateX(-50%);
	display: none;
}

/* ============================================ */




/* FOOTER */
footer {
	background-color: #feffff;
	margin-top: 100px;
}

.footer-copyright{
	color: #1c77ac;
}

.copy-link {
	color:  #000;
}

/* ============================================ */



/* RESPONSIVE RULES */

@media only screen and (max-width: 1395px) {

	h2 {font-size: 20pt;}
	.li-des, .locations-list { font-size: 14pt;}
	.li-req {margin-top: .3rem}
}

@media only screen and (max-width: 1300px) {

	header {padding-right: 3rem; padding-left: 3rem;}
}


@media only screen and (min-width: 900px) and (max-width: 1230px) {

	h2 {font-size: 18pt; margin-bottom: 1.2rem;}
	.li-des, .locations-list { font-size: 13pt; margin-top: .8rem;}
	.li-des:before, .locations-list::before {font-size: 18px;}
	.li-req {margin-top: .1rem}
	.ul-des {	padding-right: 1.5em; padding-left: 1.5em;}

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

	nav a { margin-left: 1rem; }

}


@media only screen and (max-width: 1100px) {

	.carousel-caption { bottom: 5rem; }
	.carousel-item  { height: 100%; }
	form { margin-top: 3rem;}
	h2 {font-size: 15pt; margin-bottom: .5rem; margin-top: 1rem;}
	.li-des, .locations-list { font-size: 12pt; margin-top: .4rem;}
	.li-des:before, .locations-list:before {font-size: 15px;}
	.li-req {margin-top: 0;}
	.ul-des {	padding-right: 1em; padding-left: 1em;}
}

@media only screen and (max-width: 1000px) {

	.carousel-caption { font-size: 20pt; }
	h5 {font-size: 30pt;}
	form { margin-top: 0;}
	.section-header {font-size: 24pt;}
}

@media only screen and (max-width: 992px) {

	.img-about { width: 80%; margin-top: 2em;}
}

@media only screen and (max-width: 900px) {

	.des-img1, .des-img2, .des-img3, .des-img4 { width: 100%; padding: 0; margin: 0;}
	.container2 { flex-direction: column; }
	.des-txt2, .des-txt4 { order: 1; }
	.des-img2, .des-img4 { order: 2; }
	form {margin-top: 3rem;}
	.carousel-item {height: auto;}
	.des-txt1, .des-txt2, .des-txt3, .des-txt4  {width: 100%;}
	h2 {font-size: 20pt; margin-bottom: 1.5rem; margin-top: 2rem;}
	.li-des, .locations-list { font-size: 15pt; margin-top: 1rem ;}
	.li-des:before, .locations-list:before {font-size: 20px;}
	.li-req {margin-top: 1rem;}
	.ul-des {	padding-right: 4.2em; padding-left: 4.2em; margin-bottom: 4rem;}

}

@media only screen and (max-width: 800px) {

	#contact-form { margin-left: 1.5rem; margin-right: 1.5rem; }
	.carousel-caption {font-size: 20pt;}

}

@media only screen and (max-width: 768px) {

	.carousel-caption { display: block !important; }

}

@media only screen and (max-width: 767px) {

	.vertical-line { display: none;}
	.contact-sm {margin-bottom: 100px;}
	.contact-wraper {text-align: center; margin-left: 0; margin-top: 30px;}
	.carousel-caption { font-size: 15pt; }
	h5 {font-size: 25pt;}
	#contact-form2 { margin-left: 3rem; margin-right: 3rem;}
	#contact-form2:after { display: block;}
}


@media only screen and (max-width: 700px) {


	.carousel-caption {bottom: 15rem; }
	h2 {font-size: 18pt;}
	.li-des:before {font-size: 20px;}
	#contact-form {padding-right: 2em; padding-left: 2em;}
	header {padding-right: 0rem; padding-left: 0rem;}
	.section-header {font-size: 20pt;}
	.carousel-item {height: 150%;}
	.carousel-item img { height: 100%; min-width: 200%;}
	nav a {margin-left: 0;}

}


@media only screen and (max-width: 500px) {

	.carousel-caption { bottom: 7rem; }
	h5 {font-size: 20pt;}
	#btn-top1, #btn-top2, #btn-top3 { 	width: 9em ; height: 46px; font-size: 14pt; box-shadow: 0px 15px 15px -9px rgba(0,0,0,0.65); padding: 10px 0;}
	h2 {font-size: 18pt; margin-bottom: 1.5rem; margin-top: 2rem;}
	.li-des, .locations-list { font-size: 14pt; margin-top: 1rem ;}
	.li-des:before, .locations-list:before {font-size: 18px;}
	.li-req {margin-top: 1rem;}
	.ul-des {	padding-right: 3em; padding-left: 3em; margin-bottom: 4rem;}
	#contact-form { margin-left: 1.5rem; margin-right: 1.5rem; }
	#contact-form2 { margin-left: 2rem; margin-right: 2rem;}

}


@media only screen and (max-width: 400px) {

	.carousel-caption {bottom:5rem;}
	.li-des, .locations-list {font-size: 12pt;}
	.section-header {font-size: 18pt;}
	h2 {font-size: 15pt; margin-bottom: 1.5rem; margin-top: 2rem;}
	.ul-des {	padding-right: 2.5em; padding-left: 2.5em; margin-bottom: 4rem;}
	#contact-form2 { margin-left: 1rem; margin-right: 1rem;}

}

@media only screen and (max-width: 360px) {

	.carousel-caption {bottom:2rem; font-size: 12pt;}
	h5 {font-size: 18pt;}
	#contact-form { margin-left: .5rem; margin-right: .5rem; }
	.btn-success.disabled, .btn-success:disabled {width: 220px; height: 70px;	}
	.btn:not(:disabled):not(.disabled){	width: 220px;	height: 70px;	}

}

/* ============================================ */
